<div class="catalog-menu-side">
    <aside class="catalog-menu-acord">
        <ul class="categories">
            <li class="has_child">
                <a href="">Базовое сырье для производств</a>
                //= catalog-menu-pop.html
            </li>
            <li class="has_child">
                <a href="">Сырье для бытовой химии</a>
                //= catalog-menu-pop-2.html
            </li>
            <li class="has_child">
                <a href="">Сырье для производства композитов</a>
                //= catalog-menu-pop.html
            </li>
            <li class="has_child">
                <a href="">Сырье для переработки ПВХ</a>
                //= catalog-menu-pop.html
            </li>
            <li class="has_child">
                <a href="">Сырье для производства ЛКМ</a>
                //= catalog-menu-pop.html
            </li>
            <li class="has_child">
                <a href="">Сырье для производства косметики</a>
                //= catalog-menu-pop.html
            </li>
            <li class="has_child">
                <a href="">Ингредиенты для кормов</a>
                //= catalog-menu-pop.html
            </li>
            <li class="has_child">
                <a href="">Пищевые добавки</a>
                //= catalog-menu-pop.html
            </li>
            <li class="has_child">
                <a href="">Сырье для производства ППУ и PIR</a>
                //= catalog-menu-pop.html
            </li>
            <li class="has_child">
                <a href="">Сырье для автохимии</a>
                //= catalog-menu-pop.html
            </li>
            <li class="has_child">
                <a href="">Водоподготовка и очистка</a>
                //= catalog-menu-pop.html
            </li>
            <li class="has_child">
                <a href="">Сырье для клеев и смазок</a>
                //= catalog-menu-pop.html
            </li>
        </ul>

        <div class="by_type">
            <a href="">
                <img src="img/kapli-blue.svg" alt="">
                <span>Каталог по типу сырья</span>
            </a>
        </div>

    </aside>
</div>
