<ul class="popmenu">
    <li><a href="">Бутилгликоль</a></li>
    <li><a href="">Аэросил</a></li>
    <li><a href="">Этилацетат</a></li>
    <li><a href="">Эпихлоргидрин</a></li>
    <li><a href="">Трилон Б</a></li>
    <li><a href="">Сульфонол порошок</a></li>
    <li><a href="">Стекло жидкое натриевое</a></li>
    <li><a href="">Изопропиловый спирт</a></li>
    <li><a href="">Пропиленгликоль</a></li>
    <li><a href="">Препарат ОС-20</a></li>
    <li><a href="">Полиэтиленгликоль</a></li>
    <li><a href="">Перхлорэтилен</a></li>
    <li><a href="">Парафин</a></li>
    <li><a href="">Моноэтаноламин</a></li>
    <li><a href="">Щавелевая кислота</a></li>
    <li><a href="">Ортофосфорная кислота</a></li>
    <li><a href="">Лимонная кислота</a></li>
    <li><a href="">Калия гидроокись</a></li>
    <li><a href="">Глицерин пищевой Е422</a></li>
    <li><a href="">Бутилцелозольв</a></li>
    <li><a href="">Бура техническая</a></li>
    <li><a href="">Борная кислота</a></li>
</ul>