<header>
    <div class="page-header__top-line">
        <div class="page-header__logo"></div>
        <div class="page-header__search">
            <input type="text" placeholder="Поиск по сайту">
            <div class="page-header__search-btn"></div>
        </div>
        <div class="page-header__phone-numbers"></div>
        <a href="" class="page-header__online-req-btn">Онлайн заявка</a>
    </div>
    <div class="page-header__bottom-line">
        <div class="page-header">
            <div class="page-header__menu">
                <ul>
                    <li>Компания</li>
                    <li>Каталог продукции</li>
                    <li>Доставка</li>
                    <li>Новости</li>
                    <li>Контакты</li>
                </ul>
            </div>
            <div class="page-header__lang">
                <ul>
                    <li>Рус</li>
                    <li>Eng</li>
                </ul>
            </div>
        </div>
    </div>
</header>
