<header>
    <div class="page-header">
        <div class="page-header__top-line">
            <div class="page-header__logo">
                <img src="img/header-logo.png" alt="">
            </div>
            <div class="page-header__search">
                <input type="text" placeholder="Поиск по сайту">
                <div class="page-header__search-btn"></div>
            </div>
            <div class="page-header__phone-numbers">
                <a href="tel:+78003215476" class="page-header__main-phone">+7 800 321-54-76</a>
                <div class="page-header__phones-desc">Бесплатно по Росии</div>
                <div class="page-header__another-phones"></div>
            </div>
            <a href="" class="btn page-header__online-req-btn">Онлайн заявка</a>
        </div>
        <div class="page-header__bottom-line">
            <div class="page-header__menu">
                <ul>
                    <li>Компания</li>
                    <li>Каталог продукции</li>
                    <li>Доставка</li>
                    <li>Новости</li>
                    <li>Контакты</li>
                </ul>
            </div>
            <div class="page-header__lang">
                <ul>
                    <li>Рус</li>
                    <li><a href="">Eng</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
