.page-404{
  overflow:hidden;
  font-size: 16px;
  line-height: 26px;
  padding-top: 106px;
  margin-top: 0;

  a{
    border-bottom: 1px solid #455bd7;
    color: #455bd7;

    &:hover{
      border-color: transparent;
    }
  }

  .logo-404{
    padding-right: 90px;
    font-size: 150px;
    line-height: 150px;
    text-align: center;
    color: #1333a4;

    b{
      font-weight: 800;
      font-family: 'Montserrat';
      position: relative;
      z-index: 1;
    }

    span{
      position: relative;
      width: 120px;
      height: 120px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: -30px;

      &:after{
        content: '';
        width:445px;
        position: absolute;
        height: 451px;
        background: url("../img/404.svg") no-repeat;
        background-size: 100% auto;
        right:-87px;
        bottom: -87px;
      }
    }
  }

  .pagetitle{
    margin-top: 24px;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
  }

  p{
    max-width: 1072px;
  }

  .search_form{
    margin-top: 45px;

    input[type="text"]{
      box-sizing: border-box;
      margin-bottom: 32px;
      font-family: 'Montserrat';
      display: block;
      width: 100%;
      font-size: 16px;
      line-height: 19px;
      padding-top: 19px;
      padding-bottom: 15px;
      border:0;
      padding-left: 19px;
      padding-right: 19px;
      border-bottom: 1px solid #e7e7e7;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none ;
      box-shadow: none ;
    }
  }
}

@media (max-width:600px) {
  .page-404{
    padding-top: 40px;
  }

  .page-404 .logo-404{
    padding-right: 0;
    font-size: 100px;
  }

  .page-404 .logo-404 span{
    width: 80px;
    height: 80px;
  }

  .page-404 .logo-404 span:after{
    width: 300px;
    height: 320px;
    right: -60px;
    bottom: -80px;
  }
}