$orange : #ea961c;
$blue : #455bd7;
$darkBlue : #1333a4;
$lightGray : #f7f8f9;
$gray : #cccccc;
$dark : #333333;


.page-content{
  margin-top: 60px;
}

.bread{
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  a{
    color: $dark;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  .sep{
    color: $dark;
    margin: 0 5px;
  }
  .current{
    color: $dark;
  }
}




%button {
  -webkit-font-smoothing: antialiased;
  border: none;
  display: inline-block;
  font-family: $font1;
  text-decoration: none;
  user-select: none;
  border-radius: 30px;
  padding: 20px 40px 21px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;

  &:hover {
  }

  &:focus {
    outline: none;
  }
}

.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.btn-orange{
  @extend %button;
  color: #ffffff;
  background: none;
  position: relative;
  z-index: 0;


  -webkit-filter: none!important;
  filter: none!important;
  .button__bg {
    .safari & {
      -webkit-filter: none!important;
      filter: none!important;
    }
  }


  .button__container {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
    transform: translateZ(0);
    transition: all 0.1s ease-out;
  }

  .button__bg, .circle {
    background: $orange;
    animation: hue-rotate 10s linear infinite;
  }

  .button__bg {
    background: $orange;
    position: absolute;
    @extend %button;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }

  .circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: $orange;

    &.top-left {
      top: 10px;
      left: 10px;
    }

    &.bottom-right {
      bottom: 10px;
      right: 10px;
    }
  }
}

.btn-blue{
  @extend .btn-orange;

  .button__bg, .circle {
    background: $blue;
  }

  .button__bg {
    background: $blue;
  }

  .circle {
    background: $blue;
  }
}




.h1{
  font-size: 50px;
  line-height: 62px;
}

.h2{
  font-size: 40px;
  line-height: 46px;
}

.h3{
  font-size: 30px;
  line-height: 36px;
}

.h4{
  font-size: 20px;
  line-height: 26px;
}

.p{
  font-size: 16px;
  line-height: 26px;
}


.ul{
  list-style: none;
  li{
    padding-left: 29px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    &::before{
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: $blue;
      position: absolute;
      left: 0;
      top: 11px;
    }
  }
}

.ol{
  list-style: none;
  counter-reset: my-counter;
  li{
    padding-left: 29px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    counter-increment: my-counter;
    &::before{
      content: counter(my-counter) ".";
      display: block;
      position: absolute;
      left: 0;
      top: 6px;
      color: $blue;
      font-size: 16px;
      font-weight: 700;
      line-height: 1em;
    }
  }
}


ol {

}
ol li {
}
ol li::before {
  color: red;
  font-weight: bold;
}

.pagetitle{
  margin-top: 10px;
  margin-bottom: 55px;
}


%margin_h{
  &:not(:last-child){
    margin-bottom: 32px;
  }
  &:not(:first-child){
    margin-top: 53px;
  }
}

%margin_ul{
  &:not(:last-child){
    margin-bottom: 120px;
  }
  &:not(:first-child){
    margin-top: 120px;
  }
}


.text-style{
  font-size: 16px;
  line-height: 26px;

  h1{
    @extend .h1;
    @extend %margin_h;
  }
  h2{
    @extend .h2;
    @extend %margin_h;
  }
  h3{
    @extend .h3;
    @extend %margin_h;
  }
  h4{
    @extend .h4;
    @extend %margin_h;
  }

  ul{
    @extend .ul;
    @extend %margin_ul;
  }

  ol{
    @extend .ol;
    @extend %margin_ul;
  }


  p + p{
    margin-top: 1em;
  }
}