$orange : #ea961c;
$blue : #455bd7;
$darkBlue : #1333a4;
$lightGray : #f7f8f9;
$gray : #cccccc;
$dark : #333333;

$font1: "Montserrat",
sans-serif;


.page-content{
  padding-top: 60px;
  padding-bottom: 114px;
  @include media((
          padding-top: (md: 54px),
          padding-bottom: (md: 70px)
  ));
}

.bread{
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  @include media((
          font-size: (md: 12px, sm: 10px)
  ));
  a{
    color: $dark;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  .sep{
    color: $dark;
    margin: 0 5px;
    @include media((
            margin: (md: 0 4px, sm: 0 3px)
    ));
  }
  .current{
    color: $dark;
  }

}


%button {
  -webkit-font-smoothing: antialiased;
  border: none;
  display: inline-block;
  font-family: $font1;
  text-decoration: none;
  user-select: none;
  border-radius: 30px;
  padding: 20px 40px 21px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  box-sizing: border-box;

  &:hover {
  }

  &:focus {
    outline: none;
  }
}

.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
}

.btn-orange{
  @extend %button;
  color: #ffffff;
  background: none;
  position: relative;
  z-index: 0;


  -webkit-filter: none!important;
  filter: none!important;
  .button__bg {
    .safari & {
      -webkit-filter: none!important;
      filter: none!important;
    }
  }


  .button__container {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
    transform: translateZ(0);
    transition: all 0.1s ease-out;
  }

  .button__bg, .circle {
    background: $orange;
    animation: hue-rotate 10s linear infinite;
  }

  .button__bg {
    background: $orange;
    position: absolute;
    @extend %button;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }

  .circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: $orange;

    &.top-left {
      top: 10px;
      left: 10px;
    }

    &.bottom-right {
      bottom: 10px;
      right: 10px;
    }
  }
}

.btn-blue{
  @extend .btn-orange;

  .button__bg, .circle {
    background: $blue;
  }

  .button__bg {
    background: $blue;
  }

  .circle {
    background: $blue;
  }
}



.h1{
  font-size: 50px;
  line-height: 62px;
  @include media((
          font-size: (md-sm: 40px),
          line-height: (md: 46px)
  ));
}

.h2{
  font-size: 40px;
  line-height: 46px;
  @include media((
          font-size: (md: 30px),
          line-height: (md: 36px)
  ));
}

.h3{
  font-size: 30px;
  line-height: 36px;
  @include media((
          font-size: (md: 20px),
          line-height: (md: 26px)
  ));
}

.h4{
  font-size: 20px;
  line-height: 26px;
  @include media((
          font-size: (md: 16px),
          line-height: (md: 26px)
  ));
}

.p{
  font-size: 16px;
  line-height: 26px;
  @include media((
          font-size: (md: 14px),
          line-height: (md: 24px)
  ));
  a{
    color: $blue;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}

.ul{
  list-style: none;
  li{
    padding-left: 29px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    &::before{
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: $blue;
      position: absolute;
      left: 0;
      top: 11px;
    }
  }
}

.ol{
  list-style: none;
  counter-reset: my-counter;
  li{
    padding-left: 29px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    counter-increment: my-counter;
    &::before{
      content: counter(my-counter) ".";
      display: block;
      position: absolute;
      left: 0;
      top: 6px;
      color: $blue;
      font-size: 16px;
      font-weight: 700;
      line-height: 1em;
    }
  }
}

.pagetitle{
  margin-top: 22px;
  margin-bottom: 64px;
  @include media((
          margin-top: (md: 18px),
          margin-bottom: (md: 54px)
  ));
}

%margin_h{
  &:not(:last-child){
    margin-bottom: 32px;
  }
  &:not(:first-child){
    margin-top: 53px;
  }
  @media all and (max-width: 760px) {
    &:not(:last-child){
      margin-bottom: 26px;
    }
    &:not(:first-child){
      margin-top: 43px;
    }
  }
}

%margin_ul{
  &:not(:last-child){
    margin-bottom: 53px;
    @include media((
            margin-bottom: (sm: 43px)
    ));
  }
  &:not(:first-child){
    margin-top: 53px;
    @include media((
            margin-top: (sm: 43px)
    ));
  }
}

.text-style{
  font-size: 16px;
  line-height: 26px;
  @include media((
          font-size: (md: 14px),
          line-height: (md: 24px)
  ));
  h1{
    @extend .h1;
    @extend %margin_h;
  }
  h2{
    @extend .h2;
    @extend %margin_h;
  }
  h3{
    @extend .h3;
    @extend %margin_h;
  }
  h4{
    @extend .h4;
    @extend %margin_h;
  }

  ul{
    @extend .ul;
    @extend %margin_ul;
  }

  ol{
    @extend .ol;
    @extend %margin_ul;
  }

  p{
    @extend .p;
    + p{
      margin-top: 1em;
    }
  }
}


.input{
  color: $dark;
  font-family: $font1;
  font-size: 16px;
  font-weight: 400;
  padding: 14px 22px 15px;
  box-sizing: border-box;
  width: 303px;
  border-radius: 6px;
  background-color: $lightGray;
  border: 1px solid $lightGray;
  margin: 0;
  &::placeholder{
    font-family: $font1;
    font-size: 16px;
    font-weight: 400;
    color: $dark;
    opacity: 0.7;
  }
  &.not-empty,
  &:focus{
    outline: none;
    border-color: $blue;
    background: #eceffb;
  }
  &.error{
    border-color: $orange;
    background: #fdf4e8;
  }

}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  + label {
    color: $dark;
    font-family: $font1;
    font-size: 16px;
    font-weight: 400;
    background-color: $lightGray;
    border: 1px solid $lightGray;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 14px 54px 15px 22px;
    width: 303px;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    * {
      pointer-events: none;
    }
    &:hover{
      border-color: $blue;
      background: #eceffb;
      &::after{
        background-image: url("../img/input-file-select.svg");
      }
    }
    &::after{
      content: "";
      display: inline-block;
      width: 21px;
      height: 21px;
      background: url("../img/input-file.svg") center center no-repeat;
      background-size: contain;
      position: absolute;
      right: 19px;
      top: calc(50% - 10px);
    }
  }
  &.has-file,
  &:focus{
    + label{
      border-color: $blue;
      background: #eceffb;
      &::after{
        background-image: url("../img/input-file-select.svg");
      }
    }
  }
}

.checkbox {
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 0;
    + span {
      position: relative;
      padding: 0 0 0 26px;
      cursor: pointer;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 22px;
        height: 22px;
        border-radius: 4px;
        border: 2px solid $orange;
        background-color: #ffffff;
        box-sizing: border-box;
      }
      &::after {
        content: "";
        display: none;
        position: absolute;
        left: 9px;
        top: 5px;
        width: 6px;
        height: 9px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        box-sizing: border-box;
      }
    }
    &:checked {
      + span{
        &::before {
          background: $orange;
        }
        &::after {
          display: block;
        }
      }
    }
    &:not(:checked):focus, &:not(:checked):hover {
      + span{
        &:after {
          display: block;
          border-color: $orange;
        }
      }
    }
  }
}

.close-btn{
  display: inline-block;
  width: 41px;
  height: 41px;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: transparent url("../img/close.svg") center center no-repeat;
  background-size: 15px;
  &:hover{
    background-color: $orange;
    background-image: url("../img/close-hover.svg");
  }
}



.circle-btn{
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid #d6d6d6;
  background-color: transparent;
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: center center;
  &.arr-left{background-image: url("../img/arr-left.svg")}
  &.arr-right{background-image: url("../img/arr-right.svg")}
  &.arr-up{background-image: url("../img/arr-up.svg")}
  &.arr-down{background-image: url("../img/arr-down.svg")}
  &.zoom{background-image: url("../img/zoom.svg"); transform: rotate(90deg); background-size: 17px 17px;}

  &:hover{
    border-color: $orange;
    background-color: $orange;
    &.arr-left{background-image: url("../img/arr-left-hover.svg")}
    &.arr-right{background-image: url("../img/arr-right-hover.svg")}
    &.arr-up{background-image: url("../img/arr-up-hover.svg")}
    &.arr-down{background-image: url("../img/arr-down-hover.svg")}
    &.zoom{background-image: url("../img/zoom-hover.svg")}
  }

  &:after{
    display: none;
  }
}

.pagination{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $dark;
  font-family: $font1;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  .page-link{
    color: $dark;
    font-family: $font1;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    &.current{
      color: #ffffff;
      background-color: $orange;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(:first-child){
        margin-left: 20px;
      }
      + *{
        margin-left: 20px;
      }
    }
    &:not(.current):hover{
      color: $orange;
    }
  }
  * {
    + *{
      margin-left: 35px;
    }
  }
}


.share-block{
  display: flex;
  flex-direction: column;
  width: 50px;
  box-shadow: 10px 17px 50px rgba(9, 32, 61, 0.2);
  border-radius: 15px;
  background-color: #ffffff;
  overflow: hidden;
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    cursor: pointer;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    +a{
      &::before{
        content: "";
        display: block;
        width: 50px;
        height: 1px;
        background-color: #cccccc;
        opacity: 0.4;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &.vk{background-image: url("../img/soc-vk-dark.svg");}
    &.fb{background-image: url("../img/soc-fb-dark.svg");}
    &.tw{background-image: url("../img/soc-tw-dark.svg");}
    &.ok{background-image: url("../img/soc-ok-dark.svg");}
    &.vb{background-image: url("../img/soc-vb-dark.svg");}
    &.wa{background-image: url("../img/soc-wa-dark.svg");}
    &:hover{
      &::before{
        display: none;
      }
      &.vk{background-color: #6695bd; background-image: url("../img/soc-vk.svg");}
      &.fb{background-color: #3b5998; background-image: url("../img/soc-fb.svg");}
      &.tw{background-color: #00a1f4; background-image: url("../img/soc-tw.svg");}
      &.ok{background-color: #ff9205; background-image: url("../img/soc-ok.svg");}
      &.vb{background-color: #7b519d; background-image: url("../img/soc-vb.svg");}
      &.wa{background-color: #65bc54; background-image: url("../img/soc-wa.svg");}
    }
  }
}


.slider-pagination {
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: $dark;
    opacity: 0.15;
    margin: 0 8px;
  }

  .swiper-pagination-bullet-active{
    background-color: $orange;
    opacity: 1;
  }
  .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
    background-color: $orange;
    opacity: 0.2;
  }
}

.download-btn{
  margin-top: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 88px;
  border-radius: 15px;
  cursor: pointer;
  background: $lightGray;
  @include media((
          height: (md: 74px)
  ));
  img{
    width: 18px;
    margin-right: 14px;
    display: block;
  }
  span{
    color: $dark;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    @include media((
            font-size: (md: 14px)
    ));
  }
  &:hover{
    background: $blue;
    img{
      filter: brightness(100);
    }
    span{
      color: #ffffff;
    }
  }
}