header {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 100;

    transition: .5s;

    &.header_with-box-shadow {
        box-shadow: 0 0 30px rgba(9, 32, 61, 0.2);
    }

}

.padding-for-fixed-header {
    width: 100%;
}

.page-header {
    width: 1140px;
    max-width: calc(100% - 60px);
    margin: 0 auto;

    &__top-line {
        display: flex;
        align-items: center;
        padding: 32px 0 44px;
    }

    &__burger {
        display: none;
    }

    &__logo {
        flex-grow: 1;

        img {
            width: 278px;
            height: 100%;
        }
    }

    &__logo-img-mob {
        display: none;
    }

    &__search {
        margin-right: 4.6%;
        padding-bottom: 9px;
        position: relative;

        input {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
            border: none;
            border-bottom: 1px solid #cccccc;
            width: 206px;
            padding: 0 30px 0 3px;
            height: 30px;
            &::placeholder {
                color: #666666;
            }
        }
    }

    &__search-btn {
        position: absolute;
        right: 10px;
        top: 5px;
        cursor: pointer;
    }

    &__phone-numbers {
        margin-right: 3%;
        text-align: right;
        position: relative;
    }



    &__main-phone {
        font-size: 22px;
        font-weight: 500;
        line-height: 26.65px;
        text-transform: uppercase;
        color: #333333;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 9px;
            background: url(../img/arrow-right.svg) no-repeat center center;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            right: -21px;
            top: 8px;
            transition-duration: .2s;
        }
    }

    &__phone-numbers-visible {
        padding-right: 31px;
        cursor: pointer;

        &.another-visible {
            .page-header__main-phone::after {

                transform: rotate(270deg);
            }
        }
    }

    &__phones-desc {
        font-size: 14px;
        color: #666666;
        font-weight: 400;
        line-height: 26.65px;
    }

    &__another-phones {
        display: none;
        position: absolute;
        box-shadow: -7px 19px 50px rgba(9, 32, 61, 0.2);
        border-radius: 15px;
        background-color: #ffffff;
        padding: 35px 39px 42px;
        text-align: left;

        .city {
            white-space: nowrap;
            font-weight: 700;
            line-height: 38px;
        }

        .number {
            white-space: nowrap;
            line-height: 16px;
        }
    }

    &__online-req-btn {
        padding: 0 40px;
        border-radius: 30px;
        background-color: #ea961c;
        font-weight: 700;
        line-height: 26.65px;
        color: #ffffff;
        text-align: center;
        line-height: 60px;
        display: block;

        &:hover {}

        &:active {}

        &:focus {}
    }

    /*****************************/
    &__bottom-line {
        display: flex;
        align-items: center;
        font-weight: 700;
        line-height: 26.65px;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    &__menu {
        ul {
            display: flex;
            list-style: none;
            margin: 0 -16px;
        }

        li {
            margin: 0 16px;
        }

        a {
            color: #333333;

            &.active {
                position: relative;
                color: #455bd7;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: -24px;
                    height: 3px;
                    border-radius: 2px;
                    background-color: #455bd7;
                }
            }

            &:hover {
                color: #455bd7;
            }
        }
    }

    &__lang {
        ul {
            display: flex;
            list-style: none;
            margin: 0 -14px;
            line-height: 16px;
        }

        li {
            border-right: 1px solid #c3c3c3;
            padding: 0 14px;

            transition: 0.2s;

            &:last-child {
                border-right: 0;
            }
        }

        a {
            text-decoration: underline;

            transition: 0.2s;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

@media (max-width:1130px) {
    .page-header {
        &__top-line {
            padding: 26px 0 29px;
        }

        &__logo {
            img {
                width: 199px;
            }
        }

        &__search {
            margin-right: 6.2%;
            padding-bottom: 2px;

            input {
                font-size: 12px;
                font-weight: 400;
                line-height: 30px;
                width: 128px;

                &::placeholder {}
            }
        }

        &__search-btn {
            right: 5px;
        }

        &__phone-numbers {
            margin-right: 4%;
        }

        &__main-phone {
            font-size: 18px;
            font-weight: 500;
            line-height: 26.65px;
            line-height: 15.65px;
            padding-top: 10px;

            &:after {
                right: -18px;
                top: 15px;
            }
        }

        &__phones-desc {
            font-size: 12px;
            font-weight: 400;
            line-height: 26.65px;
        }

        &__online-req-btn {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: 0;
            background: #ea961c url('../img/onl-req.svg') no-repeat center center;
            background-size: 34% auto;


            span {
                display: none;
            }
        }

        /*****************************/
        &__bottom-line {
            font-size: 14px;
            font-weight: 700;
            line-height: 34px;
            padding-bottom: 12px;
        }

        &__menu {
            ul {
                font-size: 14px;
                font-weight: 700;
                line-height: 34px;
                margin: 0 -13.9px;
            }

            li {
                margin: 0 13.9px;
            }

            a {
                &.active {
                    &::after {
                        bottom: -20px;
                    }
                }

            }
        }

    }
}

@media (max-width:740px) {
    header {
        &.header_with-box-shadow {}
    }

    .page-header {
        &__top-line {
            justify-content: space-between;
            padding: 16px 0 29px;
        }

        &__burger {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            background-color: #f7f8f9;
            cursor: pointer;
            position: relative;
            transition-duration: .2s;

            span,
            span::before,
            span::after {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -11.5px;
                width: 23px;
                height: 3px;
                background-color: #000;
            }

            span::before,
            span::after {
                content: '';
                transition: 0.2s;
            }

            span::before {
                transform: translateY(-8px);
            }

            span::after {
                transform: translateY(4px);
            }

            &.active {
                background: #333333;

                span {
                    background-color: #fff;
                    height: 0;

                    &::before {
                        transform: rotate(45deg);
                        background-color: #fff;
                    }

                    &::after {
                        transform: rotate(-45deg);
                        background-color: #fff;
                    }
                }
            }
        }

        &__logo {
            flex-grow: 0;

            img {
                width: 111px;
            }
        }

        &__logo-img-desktop {
            display: none;
        }

        &__logo-img-mob {
            display: block;
        }


        &__online-req-btn {
            &:hover {}

            &:active {}

            &:focus {}
        }

        /*****************************/
        &__bottom-line {
            display: none;
            position: absolute;
            width: 100%;
            left: 0;
            background: #ffffff;

        }

        &__menu {
            padding-bottom: 27px;

            ul {
                display: block;
                text-align: center;
                margin: 0;
            }

            li {
                margin: 0;
                line-height: 40px;
            }

            a {
                &.active {
                    &::after {
                        content: none;
                    }
                }

                &:hover {}
            }
        }

        &__search {
            margin-right: 0;
            padding-bottom: 0px;

            max-width: 290px;
            margin: 0 auto;

            input {
                width: calc(100% - 30px);
                padding-right: 0;
                padding: 0 30px 3px 4px;

                &::placeholder {}
            }
        }

        &__search-btn {}

        &__phone-numbers {
            text-align: center;
            margin: 0 auto;
            padding-bottom: 38px;
        }

        &__phone-numbers-visible {
            margin: 0 auto;
            padding-right: 24px;
            padding-top: 33px;
        }

        &__main-phone {
            &:after {
                right: calc(50% - 95px);
            }
        }

        &__phones-desc {
            padding-left: 25px;
        }

        &__another-phones {
            left: -15px;
            width: 100%;
            padding: 12px 15px;
            text-align: center;

            .city {
                line-height: 32px;
            }

            .number {
                font-weight: 400;
            }
        }


        &__lang {

            ul {
                justify-content: center;
            }

            li {
                &:last-child {}
            }

            a {
                &:hover {}
            }
        }
    }

}

@media only screen and (max-width: 460px) {
    .modal-form {
        padding-top: 77px !important;
    }
}

///////////////////////////////////


.modal-form {
    display: none;
    border-radius: 15px;
    cursor: unset;
    padding: 80px 80px 54px;

    @include media((padding: (sm: 30px)));

    .fancybox-close-small {
        @extend .close-btn;
        /*width: 15px;
        height: 15px;
        background: url(../img/close.svg) no-repeat center center;
        background-size: 100% 100%;

        padding: 0;*/

        right: 30px;
        top: 30px;

        svg {
            display: none;
        }
    }

    .req-modal-form {}

    .title {
        text-align: center;
    }

    .input-container {
        margin-top: 40px;
    }

    .input-line {
        display: flex;
        margin-top: 11px;
        @include media((display: (sm: block)));

        .desc {
            font-size: 16px;
            line-height: 36px;
            font-weight: 700;
            width: 160px;
        }

        .star-orange {
            color: #ea961c;
        }



        input {
            @extend .input;
            @include media((width: (sm: 100%)));
        }

        .message {
            @extend .input;
            height: 130px;
            resize: none;
            @include media((width: (sm: 100%)));
        }
    }

    .agreement {
        margin-top: 20px;
        position: relative;
        display: flex;
        align-items: flex-start;

        #agr-ch-req {
            display: none;

            &:checked+.agr-check::before {
                opacity: 1;
            }
        }

        .agr-check {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            cursor: pointer;
            width: 23px;
            height: 22px;
            border-radius: 4px;
            background-color: #ea961c;

            &::before {
                transition-duration: .2s;
                opacity: 0;
                content: '';
                background: url('../img/checkbox-arrow.png')no-repeat center center;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
            }
        }

        p {
            padding-top: 3px;
            padding-left: 15px;
        }

        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }

            &:active {}

            &:focus {}
        }
    }

    .submit {
        display: flex;
        justify-content: center;
        width: 100%;

        .btn-orange {
            margin: 30px auto 0;
        }
    }


}
