.body-homepage {
    background: #1333a4 url(../img/background.jpg) no-repeat top center;
    background-size: 100% auto;

    overflow-x: hidden;
}
@media (min-width:2000px) {
    .full-width-slider .swiper-button-prev-c {
        left: calc(50% - 725px) !important;
    }
    .full-width-slider .swiper-button-next-c{
        right: calc(50% - 725px) !important;
    }
}


@media (min-width:1525px) and (max-width:2060px) {
    .body-homepage {
        header.screen-top-homepage {
            background: none;

            .page-header {
                &__lang {

                    li {
                        border-right: 1px solid #8aa3ff;
                        color: #ffffff;
                    }

                    a {
                        text-decoration: underline;
                        color: #8aa3ff;
                    }
                }
            }
        }
    }
}


.full-width-slider {
    position: relative;

    .container{
        width: 1170px;
        max-width: 100%;
        margin: 0 auto;
    }
    .swiper-container {
        .swiper-wrapper {}

        .swiper-slide {
            display: flex;
            justify-content: space-between;
            padding-top: 85px;

            .left {
                width: 59%;
                padding-left: 30px;

                .title {
                    font-size: 50px;
                    font-weight: 400;
                    line-height: 62px;
                    margin-top: 25px;

                    a {
                        color: #455bd7;
                        text-decoration: underline;

                        &:hover {
                            text-decoration: none;
                        }

                        &:active {}

                        &:focus {}
                    }
                }

                .description {
                    color: #666666;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    margin-top: 22px;
                }

                .btn-orange {
                    margin-top: 48px;
                }
            }


            .right {
                width: 41%;
                padding-right: 30px;
                margin-top: -6px;
                display: flex;
                justify-content: center;
                align-items: center;


                img {
                    max-width: 100%;
                    height: auto;
                    width: 100%;
                }
            }

        }
    }

    .swiper-pagination {

        bottom: 28px;
        margin-left: -5px;
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            width: 14px;
            height: 14px;
            background-color: #333333;
            opacity: 0.15;
            margin: 0 8px;
        }

        .swiper-pagination-bullet-active,
        .swiper-pagination-bullet:hover {
            background-color: #ea961c;
            opacity: 1;
        }
    }

    .swiper-button-prev-c,
    .swiper-button-next-c {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        border: 2px solid #d6d6d6;
        background: #fff;
        position: absolute;
        top: 40.8%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
            width: 20%;
        }

        transition: .2s;

        &:hover {
            border: 2px solid #ea961c;
            background-color: #ea961c;

            .cls-1 {
                stroke: #fff;
            }
        }
    }

    .swiper-button-prev-c {
        left: 44px;
    }

    .swiper-button-next-c {
        right: 44px;
    }
}

.catalog {
    margin-top: 89px;

    .catalog-wrap {
        width: 1240px;
        max-width: calc(100% - 60px);
        margin: 0 auto;
        border-radius: 15px;
        background-color: #f7f8f9;
    }

    .top {
        display: flex;
        justify-content: space-between;
        padding: 64px 52px 0 50px;
        padding-bottom: 30px;

        >.title {
            font-size: 40px;
            font-weight: 400;
            line-height: 38px;
            margin: -4px 0 0 -5px;
        }

        .tab-controls {
            display: flex;
            padding-right: 19px;

            .item {
                color: #666666;
                font-size: 16px;
                font-weight: 500;
                line-height: 17px;
                display: flex;
                align-items: center;

                &::after {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 40px;
                    background-color: #cccccc;
                    margin: 0 30px;
                }

                &:last-child::after {
                    content: none;
                }

                svg {
                    height: 18px;
                    width: 17px;
                    margin-right: 14px;
                }

                path {
                    fill: #666666;
                }

                cursor: pointer;

                &.active {
                    pointer-events: none;
                }

                &.active,
                &:hover {

                    color: #455bd7;

                    path {
                        fill: #455bd7;
                    }

                    position: relative;

                    span {
                        position: relative;
                        display: inline-block;
                    }

                    span::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        display: block;
                        width: 100%;
                        border-top: 1px dashed #455bd7;

                    }

                }
            }
        }

        .all-catalog {
            color: #455bd7;
            font-size: 16px;
            font-weight: 500;
            line-height: 34px;
            text-decoration: underline;
            display: flex;
            align-items: center;

            &:hover {
                text-decoration: none;
            }

            svg {
                margin-left: 13px;
                width: 7px;
                height: 10px;

                .cls-1 {
                    stroke: #455bd7;
                }
            }

            &:active {}

            &:focus {}
        }
    }

    .tabs {
        padding: 0 0 54px 76px;

        .tab {
            display: none;

            &.active {
                display: flex;
                flex-wrap: wrap;
            }

            .item {
                width: 33.33333333333333%;

                &:nth-child(3n-1) {
                    padding-left: 2px;
                    width: calc(33.33333333333333% - 2px);
                }

                a &:nth-child(3n) {
                    padding-left: 4px;
                    width: calc(33.33333333333333% - 4px);
                }

            }

            .title {
                font-size: 16px;
                font-weight: 500;
                line-height: 36px;
                display: flex;
                align-items: center;

                &::after {
                    content: '';
                    display: block;
                    background: url('../img/arr-down.svg') no-repeat center center;
                    width: 8px;
                    height: 5px;
                    display: inline-block;
                    background-size: auto 100%;
                    margin-left: 10px;
                    transition-duration: .2s;
                }

                &:hover {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }

            .invisible-refs {
                display: none;

                .title {}

                a {
                    &:hover {}

                    &:active {}

                    &:focus {}
                }
            }
        }
    }
}

.tooltipster-noir.tooltipster-noir-customized.tooltipster-base.tooltipster-sidetip {
    height: auto !important;

    .tooltipster-box {
        box-shadow: -7px 19px 50px rgba(9, 32, 61, 0.2);
        border-radius: 15px;
        background-color: #ffffff;
        border: 0;
        overflow: hidden;

        .tooltipster-content {
            padding: 34px 40px 43px;

            .title {
                font-size: 16px;
                font-weight: 700;
                line-height: 38px;
                color: #333333;
            }

            a {
                display: block;
                font-size: 16px;
                font-weight: 500;
                line-height: 36px;
                color: #333333;

                &:hover {
                    text-decoration: underline;
                }

                &:active {}

                &:focus {}
            }
        }
    }

    .tooltipster-arrow {
        .tooltipster-arrow-uncropped {
            .tooltipster-arrow-border {}

            .tooltipster-arrow-background {}
        }
    }
}

.about-company {
    margin-top: 111px;

    .container {
        display: flex;
        justify-content: space-between;

        .left {
            color: #ffffff;
            font-size: 40px;
            font-weight: 400;
            line-height: 62px;
            padding: 10px 0 0 1.9%;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .right {
            width: 49%;
            padding-left: 12.1%;

            .title {
                color: #ffffff;
                font-size: 40px;
                font-weight: 400;
                line-height: 62px;
                margin-left: -4px;
                margin-bottom: 18px;
            }

            .text {
                color: #ffffff;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                opacity: 0.9;
            }

            .btn-orange {
                margin-top: 48px;
                margin-left: -2px;

                &:hover {}

                &:active {}

                &:focus {}
            }
        }
    }
}


.predstavitelstva .container {
    display: flex;

    .left {
        padding-top: 101px;
        width: 48%;

        .title {
            color: #ffffff;
            font-size: 40px;
            font-weight: 400;
            line-height: 46px;
            margin-left: -4px;
            margin-bottom: 26px;
        }

        .text {
            opacity: 0.9;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            margin-left: -2px;
            margin-bottom: 49px;
        }

        .btn-blue {}
    }

    .right {

        height: 744px;
        position: relative;

        .map {
            width: 1441px;
            position: absolute;
            left: 0;
            left: 35px;
            top: -115px;

            svg {
                width: 100%;
            }

            .cls-2,
            .cls-3 {
                fill: #2848b9;
            }

            .points {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;

                .hidden-text {
                    display: none;
                }

                .point {
                    position: absolute;
                    display: flex;
                    align-items: center;

                    transition-duration: .5s;

                    * {
                        transition-duration: .5s;

                    }

                    .mark {
                        width: 17px;
                        height: 21px;
                        display: block;

                        svg {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .name {
                        position: absolute;
                        color: #ffffff;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 16px;
                        left: 17px + 9px;
                        white-space: nowrap;
                    }

                    &:hover {
                        .mark {
                            width: 29px;
                            height: 36px;

                            svg {
                                path {
                                    fill: #ea961c;
                                }

                                circle,
                                .cls-3 {
                                    fill: #fff;
                                }
                            }
                        }

                        .name {
                            color: #ea961c;

                            line-height: 36px;
                            left: 29px + 9px;
                        }
                    }

                    &-spb {
                        bottom: 67.4%;
                        left: 15%;

                        &:hover {
                            left: 14.6%;
                        }
                    }

                    &-dz {
                        bottom: 49%;
                        left: 16.5%;

                        &:hover {
                            left: 16.1%
                        }
                    }

                    &-kras {
                        left: 3.7%;
                        bottom: 36.4%;

                        &:hover {
                            left: 3.3%;
                        }

                    }

                    &-ekb {
                        bottom: 36%;
                        left: 28%;

                        &:hover {
                            left: 27.6%;
                        }
                    }

                    &-nn {
                        bottom: 46.5%;
                        left: 17.5%;

                        &:hover {
                            left: 17.1%;
                        }
                    }

                    &-sam {
                        bottom: 36.8%;
                        left: 18.5%;

                        &:hover {
                            left: 18.1%;
                        }
                    }
                }
            }
        }
    }
}


.tooltipster-map-points-customized {

    .tooltipster-box {
        border-radius: 10px;
        background-color: #ea961c;
        border: 0;

        .tooltipster-content {
            padding: 13px 14px;

            a {
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }

                &:active {}

                &:focus {}
            }
        }
    }

    .tooltipster-arrow {
        .tooltipster-arrow-background {
            border-top-color: #ea961c;
        }

        .tooltipster-arrow-border {
            border-top-color: #ea961c;
        }
    }
}



.news-homepage .top,
.parthners-homepage .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        color: #ffffff;
        font-size: 40px;
        font-weight: 400;
        line-height: 62px;
    }

    .all {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }

        padding-right: 19px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 7px;
            height: 10px;
            background: url('../img/arr-right-hover.svg');
            right: 1px;
            top: 3px;
        }

    }
}


.news-homepage {
    margin-top: -200px;
    padding-bottom: 64px;


    .slick-container {
        margin-top: 14px;

        .slick-wrapper {
            overflow-x: hidden;
            overflow-y: visible;
            position: relative;

            .slick-list {
                overflow: visible;
                padding-top: 10px;
            }

            .slick-slide {
                margin-top: 10px;
                position: relative;
                overflow: hidden;
                border-radius: 15px;
                margin: 0 15px;
                transition-duration: .5s;

                &:hover {
                    margin-top: -10px;
                    box-shadow: 0 30px 20px rgba(9, 32, 61, 0.15);

                }

            }

            .pic {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .type {

                &:hover {
                    text-decoration: underline;
                }
            }

            @media (min-width:781px) {
                .big-slide {
                    width: 553px - 30px !important;
                    height: 370px - (27px * 2);
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    padding: 27px 0 27px 30px;

                    .pic {
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        z-index: -1;

                        background-repeat: no-repeat !important;
                        background-position: center center !important;
                        background-size: cover !important;

                        &::after {
                            content: '';
                            display: block;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background: url('../img/bg-news.png');
                            background-repeat: no-repeat;
                            background-position: center bottom;
                            background-size: 100% 282px;
                        }
                    }

                    .type {
                        border-radius: 2px;
                        background-color: #ea961c;
                        display: block;
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        padding: 0 6px;
                        display: inline-block;
                    }

                    .title {
                        color: #ffffff;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 26px;
                        margin-top: 9px;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .date {
                        color: #cccccc;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        margin-left: 7px;
                        margin-top: 12px;
                    }
                }
            }

            .small-slide {
                width: 263px !important;
                height: 370px;
                border-radius: 15px;
                background-color: #455bd7;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .pic {
                    height: 176px;
                    width: 100%;
                    margin-bottom: 29px;

                    background-repeat: no-repeat !important;
                    background-position: center center !important;
                    background-size: cover !important;
                }


                .type {
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 14px;
                    padding: 0 21px;
                    margin-bottom: 17px;
                }

                .title {
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    padding: 0 21px;
                    margin-bottom: 9px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .date {
                    flex-grow: 1;
                    display: flex;
                    align-items: flex-end;
                    color: #b2b9ec;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 14px;
                    padding: 0 21px;
                    padding-bottom: 32px;
                }

            }
        }

    }

    .slick-dots {
        margin: 53px -8px 0;
        display: flex;
        justify-content: center;
        list-style: none;

        margin-top: 53px;

        li {
            button {
                display: none;
            }

            cursor: pointer;
            display: block;
            margin: 0 8px;
            width: 14px;
            height: 14px;
            background-color: #ffffff;
            opacity: 0.15;
            border-radius: 50%;

            &:hover,
            &.slick-active {
                background-color: #ea961c;
                opacity: 1;

            }
        }
    }


}


.parthners-homepage {
    padding-top: 48px;
    background-color: #0d2782;
    width: 100%;

    .top {
        .title {}

        .all {
            &:hover {}

            &:active {}

            &:focus {}
        }
    }

    .parthners-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        max-height: 120px;
        overflow: hidden;
        padding: 21px 5px 0 11px;
        margin: 0 -30px;

        .parthner {
            margin: 0 30px 60px;

            img {}
        }
    }
}

@media (max-width:1400px) {

    .full-width-slider .swiper-button-prev-c,
    .full-width-slider .swiper-button-next-c {
        display: none;
    }
}

@media (max-width:1200px) {

    .full-width-slider {
        .swiper-container {
            .swiper-wrapper {}

            .swiper-slide {
                padding-top: 36px;
                padding-bottom: 43px;

                .left {
                    width: 52%;

                    .title {
                        font-size: 32px;
                        font-weight: 400;
                        line-height: 42px;

                        a {
                            &:hover {}

                            &:active {}

                            &:focus {}
                        }
                    }

                    .description {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        margin-top: 15px;
                    }

                    .btn-orange {
                        margin-top: 40px;
                    }
                }

                .right {
                    width: 48%;
                    margin-top: 22px;


                    img {}
                }
            }
        }

        .swiper-pagination {
            bottom: 0;
            margin-left: 0
        }

        .swiper-pagination {
            .swiper-pagination-bullet {}

            .swiper-pagination-bullet-active {}
        }

        .swiper-button-prev-c,
        .swiper-button-next-c {
            svg {}

            &:hover {
                .cls-1 {}
            }
        }

        .swiper-button-prev-c {}

        .swiper-button-next-c {}
    }

    .catalog {
        margin-top: 66px;

        .catalog-wrap {
            width: 100%;
            max-width: 100%;
            border-radius: 0;
        }

        .top {
            padding: 46px 26px 0 32px;

            >.title {
                font-size: 30px;
                line-height: 38px;
                margin: 0px 0 0 -5px;
            }

            .tab-controls {
                padding-right: 0;

                .item {
                    font-size: 14px;
                    line-height: 34px;

                    &::after {
                        margin: 0px 20px;
                    }

                    &:last-child::after {}

                    svg {}

                    path {}

                    &.active {}

                    &.active,
                    &:hover {
                        path {}

                        span {}

                        span::after {
                            bottom: 8px;
                        }
                    }
                }
            }

            .all-catalog {
                font-size: 14px;
                line-height: 34px;

                &:hover {}

                svg {
                    .cls-1 {}
                }

                &:active {}

                &:focus {}
            }
        }

        .tabs {
            padding: 27px 0 46px 29px;

            .tab {
                &.active {}

                .item,
                .item:nth-child(3n-1),
                .item:nth-child(3n) {
                    width: calc(50% - 30px);
                    padding: 0;
                    margin: 0;
                    padding-right: 30px;
                }

                .title {
                    font-size: 14px;
                    line-height: 34px;

                    &::after {}

                    &:hover {
                        &::after {}
                    }
                }

                .invisible-refs {
                    .title {}

                    a {
                        &:hover {}

                        &:active {}

                        &:focus {}
                    }
                }
            }
        }
    }

    .tooltipster-noir.tooltipster-noir-customized.tooltipster-base.tooltipster-sidetip {
        .tooltipster-box {
            .tooltipster-content {
                .title {
                    font-size: 14px;
                    line-height: 34px;
                }

                a {
                    font-size: 14px;
                    line-height: 34px;

                    &:hover {}

                    &:active {}

                    &:focus {}
                }
            }
        }

        .tooltipster-arrow {
            .tooltipster-arrow-uncropped {
                .tooltipster-arrow-border {}

                .tooltipster-arrow-background {}
            }
        }
    }

    .about-company {
        margin-top: 50px;

        .container {
            .left {
                padding: 57px 0 0;

                img {}
            }

            .right {
                padding-left: 4.2%;
                width: 60.2%;

                .title {
                    font-size: 30px;
                    line-height: 62px;
                    margin-left: -3px;
                    margin-bottom: 8px;
                }

                .text {
                    font-size: 14px;
                    line-height: 24px;
                    padding-right: 10px;
                }

                .btn-orange {
                    margin-top: 39px;
                    margin-left: -1px;

                    &:hover {}

                    &:active {}

                    &:focus {}
                }
            }
        }
    }

    .predstavitelstva .container {
        padding-top: 67px;

        .left {
            padding-top: 0;

            .title {
                font-size: 30px;
                line-height: 36px;
                margin-bottom: 18px;
            }

            .text {
                font-size: 14px;
                line-height: 24px;
                margin-left: -2px;
                margin-bottom: 39px;
            }

            .btn-blue {}
        }

        .right {
            height: 404px;
            margin-top: 106px;

            .map {
                height: 100%;
                width: 822px;

                .cls-2,
                .cls-3 {}

                .points {
                    .hidden-text {}

                    .point {

                        .mark {
                            width: 9px;
                            height: 11px;

                            svg {}
                        }

                        .name {
                            font-size: 12px;
                            line-height: 12px;
                            left: 15px;
                            top: 3px;
                        }

                        &:hover {
                            .mark {
                                width: 16px;
                                height: 20px;

                                svg {
                                    path {}

                                    circle,
                                    .cls-3 {}
                                }
                            }

                            .name {
                                left: 21px;
                                top: -8px;
                            }
                        }

                        &-spb {
                            &:hover {}
                        }

                        &-dz {
                            &:hover {
                                left: 16.1%
                            }
                        }

                        &-kras {
                            bottom: 33.4%;

                            &:hover {}
                        }

                        &-ekb {
                            &:hover {}
                        }

                        &-nn {
                            bottom: 44.5%;

                            &:hover {}
                        }

                        &-sam {
                            &:hover {}
                        }
                    }
                }
            }
        }
    }

    .tooltipster-map-points-customized {
        .tooltipster-box {
            .tooltipster-content {
                a {
                    line-height: 20px;
                    font-weight: 400;

                    &:hover {}

                    &:active {}

                    &:focus {}
                }
            }
        }

        .tooltipster-arrow {
            .tooltipster-arrow-background {}

            .tooltipster-arrow-border {}
        }
    }

    .news-homepage .top,
    .parthners-homepage .top {
        .title {
            font-size: 30px;
            line-height: 36px;
        }

        .all {
            font-size: 14px;
            line-height: 34px;

            &:hover {}

            &::after {
                top: 12px;
            }
        }
    }

    .news-homepage {
        margin-top: -39px;

        padding-bottom: 54px;

        .slick-container {
            margin-top: 27px;

            .slick-wrapper {
                .slick-list {
                    padding-top: 0;
                }

                .slick-slide {

                    &:hover {
                        margin-top: 0;
                    }
                }

                .pic {}

                .big-slide {
                    width: 456px - 15px - 20px !important;
                    height: 343px - 26px;

                    padding: 0 15px 26px 20px;

                    .pic {
                        &::after {}
                    }

                    .type {
                        font-size: 12px;
                        line-height: 20px;
                        padding: 0 5px;
                    }

                    .title {
                        font-size: 14px;
                        line-height: 22px;

                        max-width: 259px;

                        &:hover {}
                    }

                    .date {
                        font-size: 12px;
                        line-height: 14px;
                        margin-top: 20px;
                    }
                }

                .small-slide {
                    width: 215px !important;
                    height: 343px;

                    .pic {
                        height: 142px;
                        margin-bottom: 22px;
                    }

                    .type {
                        font-size: 12px;
                        line-height: 20px;
                        margin-bottom: 7px;

                    }

                    .title {
                        font-size: 14px;
                        line-height: 22px;

                        &:hover {}
                    }

                    .date {
                        font-size: 12px;
                        line-height: 12px;
                        padding: 0 18px;
                        padding-bottom: 28px;
                    }
                }
            }
        }

        .slick-dots {
            margin: 42px 0px 0 -2px;

            li {
                button {}

                &:hover,
                &.slick-active {}
            }
        }
    }

    .parthners-homepage {
        .top {
            .title {}

            .all {
                &:hover {}

                &:active {}

                &:focus {}
            }
        }

        .parthners-container {

            padding: 24px 14px 0 19px;
            max-height: 107px;

            .parthner {
                img {}
            }
        }
    }

}


@media (max-width:900px) {
    .body-homepage {
        background: #1333a4 url(../img/background.jpg) no-repeat top center;
        background-size: 1920px auto;
    }
}


@media (max-width:780px) {

    .full-width-slider {
        .swiper-container {
            .swiper-slide {
                padding-top: 25px;
                padding-bottom: 63px;
                padding-left: 2.5px;

                .left {
                    width: calc(100% - 60px);

                    .title {
                        font-size: 22px;
                        line-height: 32px;
                    }

                    .description {
                        font-size: 14px;
                        line-height: 24px;
                    }
                }

                .right {
                    display: none;
                }
            }
        }


    }

    .catalog {
        .catalog-wrap {}

        .top {
            flex-wrap: wrap;
            padding: 46px 34px 0;


            >.title {}

            .tab-controls {
                width: 100%;
                order: 3;
                margin-top: 19px;

                .item {
                    &::after {
                        margin: 0 15px;
                    }

                    &:last-child::after {}

                    svg {}

                    path {}

                    &.active {}

                    &.active,
                    &:hover {
                        path {}

                        span {}

                        span::after {}
                    }
                }
            }

            .all-catalog {
                padding-top: 7px;

                &:hover {}

                svg {
                    margin-left: 9px;

                    .cls-1 {}
                }

                &:active {}

                &:focus {}
            }
        }

        .tabs {
            padding: 23px 35px 46px;

            .tab {
                &.active {}

                .item,
                .item:nth-child(3n-1),
                .item:nth-child(3n) {
                    width: 100%;
                    padding-right: 0;
                }


                .title {
                    &::after {
                        content: none;
                    }

                    &:hover {
                        &::after {}
                    }
                }

                .invisible-refs {
                    .title {}

                    a {
                        &:hover {}

                        &:active {}

                        &:focus {}
                    }
                }
            }
        }
    }


    .about-company {
        margin-top: 63px;

        .container {
            .left {
                display: none;
            }

            .right {
                width: 100%;

                padding-left: 5px;

                .title {
                    line-height: 36px;
                    margin-bottom: 20px;
                }

                .text {
                    padding-right: 6px;
                }
            }
        }
    }

    .predstavitelstva .container {
        display: block;
        max-width: 100%;
        padding-top: 63px;

        .left {
            width: 100%;
            max-width: calc(100% - 70px);
            margin: 0 auto;

            .title {
                font-size: 30px;
                line-height: 36px;
            }

        }

        .right {
            width: 100%;
            height: 364px;

            .map {
                left: 0px;
                top: -103px;

                .points {
                    top: 26px;

                    .point {

                        &-spb {
                            &:hover {}
                        }

                        &-dz {
                            &:hover {
                                left: 16.1%
                            }
                        }

                        &-kras {
                            &:hover {}
                        }

                        &-ekb {
                            &:hover {}
                        }

                        &-nn {
                            &:hover {}
                        }

                        &-sam {
                            &:hover {}
                        }
                    }
                }
            }
        }
    }

    .tooltipster-map-points-customized {
        .tooltipster-box {
            .tooltipster-content {
                a {
                    &:hover {}

                    &:active {}

                    &:focus {}
                }
            }
        }

        .tooltipster-arrow {
            .tooltipster-arrow-background {}

            .tooltipster-arrow-border {}
        }
    }

    .news-homepage .top,
    .parthners-homepage .top {
        max-width: calc(100% - 70px);
        margin: 0 auto;
        width: 100%;

        .title {}

        .all {
            &:hover {}

            &::after {}
        }
    }

    .news-homepage {
        margin-top: 0;
        max-width: 100%;

        .slick-container {
            margin-left: 35px;
            margin-top: 25px;

            .slick-wrapper {
                .slick-list {}

                .slick-slide {
                    &:hover {}
                }

                .pic {}

                .big-slide,
                .small-slide {
                    width: 215px !important;
                    height: 344px !important;
                    border-radius: 15px;
                    background-color: #455bd7;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding: 0;

                    .pic {
                        height: 144px;
                        min-height: 144px;
                        width: 100%;
                        margin-bottom: 24px;
                        background-repeat: no-repeat !important;
                        background-position: center center !important;
                        background-size: cover !important;
                    }


                    .type {
                        color: #ffffff;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 14px;
                        padding: 0 21px;
                        margin-bottom: 11px;
                    }

                    .title {
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 22px;
                        padding: 0 21px;
                        margin-bottom: 9px;
                        text-decoration: none;
                        margin-bottom: 0;

                        max-height: 88px;
                        overflow: hidden;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .date {
                        flex-grow: 1;
                        display: flex;
                        align-items: flex-end;
                        color: #b2b9ec;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 12px;
                        padding: 0 21px;
                        padding-bottom: 29px;

                    }


                    .pic {}

                    .type {}

                    .title {
                        &:hover {}
                    }

                    .date {}
                }
            }
        }

        .slick-dots {
            margin: 43px 0 0 -37px;

            li {
                button {}

                &:hover,
                &.slick-active {}
            }
        }
    }

    .parthners-homepage {
        .container {
            max-width: 100%;
            width: 100%;
        }

        .top {
            .title {}

            .all {
                &:hover {}

                &:active {}

                &:focus {}
            }
        }

        .parthners-container {
            padding: 24px 39px 0 37px;
            margin: 0 -15px;

            .parthner {
                margin: 0 15px 60px;

                img {
                    max-height: 50px;
                }
            }
        }
    }

}


@media (max-width:374px) {

    .news-homepage .top,
    .parthners-homepage .top {
        max-width: calc(100% - 50px);
    }

    .predstavitelstva .container .left .title {
        font-size: 25px;
    }

    .news-homepage .top .title,
    .parthners-homepage .top .title {
        font-size: 25px;
    }

    .news-homepage .top .all,
    .parthners-homepage .top .all {
        padding-right: 13px;
    }

    .catalog .top .tab-controls {
        display: block;

        .item {
            display: flex;
            justify-content: center;

            &:after {
                content: none;
            }
        }
    }

    .catalog .tabs .tab .title {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 13px;
    }

    .predstavitelstva .container .right .map .points .point .name {
        font-size: 12px;
        line-height: 12px;
        left: -22px;
        top: -8px;
    }

    .predstavitelstva .container .right .map .points .point:hover .name {
        font-size: 12px;
        line-height: 12px;
        left: -22px;
        top: -13px;
    }

    .parthners-homepage .parthners-container {
        padding: 24px 15px 0;
        margin: 0 -15px;
    }

    .parthners-homepage .parthners-container .parthner {
        margin: 0 12px 60px;
    }
}
