.body-homepage {
    background: #1333a4 url(../img/background.jpg) no-repeat top center;
    background-size: 100% auto;
}
@media (min-width:1525px){
    .body-homepage {
        header.screen-top-homepage {
            background: none;

            .page-header {
                &__lang {

                    li {
                        border-right: 1px solid #8aa3ff;
                        color: #ffffff;
                    }

                    a {
                        text-decoration: underline;
                        color: #8aa3ff;
                    }
                }
            }
        }
    }
}


.full-width-slider {
    position: relative;

    .swiper-container {
        .swiper-wrapper {}

        .swiper-slide {
            display: flex;
            justify-content: space-between;
            padding-top: 85px;

            .left {
                flex-grow: 1;

                .title {
                    font-size: 50px;
                    font-weight: 400;
                    line-height: 62px;
                    margin-top: 25px;

                    a {
                        color: #455bd7;
                        text-decoration: underline;

                        &:hover {
                            text-decoration: none;
                        }

                        &:active {}

                        &:focus {}
                    }
                }

                .description {
                    color: #666666;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    margin-top: 22px;
                }

                .btn-orange {
                    margin-top: 48px;
                }
            }


            .right {
                .circle {
                    width: 470px;
                    height: 470px;
                    background-color: #f7f8f9;
                    position: relative;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                }

                img {
                    width: calc(100% - 66px);
                    left: 33px;
                    bottom: 43px;
                    position: absolute;
                }
            }

        }
    }

    .swiper-pagination {

        bottom: 28px;
        margin-left: -5px;
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            width: 14px;
            height: 14px;
            background-color: #333333;
            opacity: 0.15;
            margin: 0 8px;
        }

        .swiper-pagination-bullet-active {
            background-color: #ea961c;
            opacity: 1;
        }
    }

    .swiper-button-prev-c,
    .swiper-button-next-c {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        border: 2px solid #d6d6d6;
        background: #fff;
        position: absolute;
        top: 40.8%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
            width: 20%;
        }

        transition: .2s;

        &:hover {
            border: 2px solid #ea961c;
            background-color: #ea961c;

            .cls-1 {
                stroke: #fff;
            }
        }
    }

    .swiper-button-prev-c {
        left: 44px;
    }

    .swiper-button-next-c {
        right: 44px;
    }
}

.catalog {
    margin-top: 89px;

    .catalog-wrap {
        width: 1240px;
        max-width: calc(100% - 60px);
        margin: 0 auto;
        border-radius: 15px;
        background-color: #f7f8f9;
    }

    .top {
        display: flex;
        justify-content: space-between;
        padding: 64px 52px 0 50px;
        padding-bottom: 30px;

        >.title {
            font-size: 40px;
            font-weight: 400;
            line-height: 38px;
            margin: -4px 0 0 -5px;
        }

        .tab-controls {
            display: flex;
            padding-right: 19px;

            .item {
                color: #666666;
                font-size: 16px;
                font-weight: 500;
                line-height: 17px;
                display: flex;
                align-items: center;

                &::after {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 40px;
                    background-color: #cccccc;
                    margin: 0 30px;
                }

                &:last-child::after {
                    content: none;
                }

                svg {
                    height: 18px;
                    width: 17px;
                    margin-right: 14px;
                }

                path {
                    fill: #666666;
                }

                cursor: pointer;

                &.active {
                    pointer-events: none;
                }

                &.active,
                &:hover {

                    color: #455bd7;

                    path {
                        fill: #455bd7;
                    }

                    position: relative;

                    span {
                        position: relative;
                        display: inline-block;
                    }

                    span::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        display: block;
                        width: 100%;
                        border-top: 1px dashed #455bd7;

                    }

                }
            }
        }

        .all-catalog {
            color: #455bd7;
            font-size: 16px;
            font-weight: 500;
            line-height: 34px;
            text-decoration: underline;
            display: flex;
            align-items: center;

            &:hover {
                text-decoration: none;
            }

            svg {
                margin-left: 13px;
                width: 7px;
                height: 10px;

                .cls-1 {
                    stroke: #455bd7;
                }
            }

            &:active {}

            &:focus {}
        }
    }

    .tabs {
        padding: 0 0 54px 76px;

        .tab {
            display: none;

            &.active {
                display: flex;
                flex-wrap: wrap;
            }

            .item {
                width: 33.33333333333333%;

                &:nth-child(3n-1) {
                    padding-left: 2px;
                    width: calc(33.33333333333333% - 2px);
                }

                a &:nth-child(3n) {
                    padding-left: 4px;
                    width: calc(33.33333333333333% - 4px);
                }

            }

            .title {
                font-size: 16px;
                font-weight: 500;
                line-height: 36px;
                display: flex;
                align-items: center;

                &::after {
                    content: '';
                    display: block;
                    background: url('../img/arr-down.svg') no-repeat center center;
                    width: 8px;
                    height: 5px;
                    display: inline-block;
                    background-size: auto 100%;
                    margin-left: 10px;
                    transition-duration: .2s;
                }
                &:hover{
                    &::after{
                        transform: rotate(180deg);
                    }
                }
            }

            .invisible-refs {
                display: none;

                .title {}

                a {
                    &:hover {}

                    &:active {}

                    &:focus {}
                }
            }
        }
    }
}

.tooltipster-noir.tooltipster-noir-customized.tooltipster-base.tooltipster-sidetip {
    height: auto !important;

    .tooltipster-box {
        box-shadow: -7px 19px 50px rgba(9, 32, 61, 0.2);
        border-radius: 15px;
        background-color: #ffffff;
        border: 0;
        overflow: hidden;

        .tooltipster-content {
            padding: 34px 40px 43px;

            .title {
                font-size: 16px;
                font-weight: 700;
                line-height: 38px;
                color: #333333;
            }

            a {
                display: block;
                font-size: 16px;
                font-weight: 500;
                line-height: 36px;
                color: #333333;

                &:hover {
                    text-decoration: underline;
                }

                &:active {}

                &:focus {}
            }
        }
    }

    .tooltipster-arrow {
        .tooltipster-arrow-uncropped {
            .tooltipster-arrow-border {}

            .tooltipster-arrow-background {}
        }
    }
}

.about-company {
    margin-top: 111px;

    .container {
        display: flex;
        justify-content: space-between;

        .left {
            color: #ffffff;
            font-size: 40px;
            font-weight: 400;
            line-height: 62px;
            padding: 10px 0 0 1.9%;

            img {}
        }

        .right {
            padding-left: 12.1%;

            .title {
                color: #ffffff;
                font-size: 40px;
                font-weight: 400;
                line-height: 62px;
                margin-left: -4px;
                margin-bottom: 18px;
            }

            .text {
                color: #ffffff;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                opacity: 0.9;
            }

            .btn-orange {
                margin-top: 48px;
                margin-left: -2px;

                &:hover {}

                &:active {}

                &:focus {}
            }
        }
    }
}


.predstavitelstva .container {
    display: flex;

    .left {
        padding-top: 101px;
        width: 48%;

        .title {
            color: #ffffff;
            font-size: 40px;
            font-weight: 400;
            line-height: 46px;
            margin-left: -4px;
            margin-bottom: 26px;
        }

        .text {
            opacity: 0.9;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            margin-left: -2px;
            margin-bottom: 49px;
        }

        .btn-blue {}
    }

    .right {

        height: 744px;
        position: relative;

        .map {
            width: 1441px;
            position: absolute;
            left: 0;
            left: 35px;
            top: -115px;

            svg {
                width: 100%;
            }

            .cls-2,
            .cls-3 {
                fill: #2848b9;
            }

            .points {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;

                .hidden-text {
                    display: none;
                }

                .point {
                    position: absolute;
                    display: flex;
                    align-items: center;

                    transition-duration: .5s;

                    * {
                        transition-duration: .5s;

                    }

                    .mark {
                        width: 17px;
                        height: 21px;
                        display: block;

                        svg {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .name {
                        position: absolute;
                        color: #ffffff;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 16px;
                        left: 17px + 9px;
                        white-space: nowrap;
                    }

                    &:hover {
                        .mark {
                            width: 29px;
                            height: 36px;

                            svg {
                                path {
                                    fill: #ea961c;
                                }

                                circle,
                                .cls-3 {
                                    fill: #fff;
                                }
                            }
                        }

                        .name {
                            color: #ea961c;

                            line-height: 36px;
                            left: 29px + 9px;
                        }
                    }

                    &-spb {
                        bottom: 67.4%;
                        left: 15%;

                        &:hover {
                            left: 14.6%;
                        }
                    }

                    &-dz {
                        bottom: 49%;
                        left: 16.5%;

                        &:hover {
                            left: 16.1%
                        }
                    }

                    &-kras {
                        left: 3.7%;
                        bottom: 36.4%;

                        &:hover {
                            left: 3.3%;
                        }

                    }

                    &-ekb {
                        bottom: 36%;
                        left: 28%;

                        &:hover {
                            left: 27.6%;
                        }
                    }

                    &-nn {
                        bottom: 46.5%;
                        left: 17.5%;

                        &:hover {
                            left: 17.1%;
                        }
                    }

                    &-sam {
                        bottom: 36.8%;
                        left: 18.5%;

                        &:hover {
                            left: 18.1%;
                        }
                    }
                }
            }
        }
    }
}


.tooltipster-map-points-customized {

    .tooltipster-box {
        border-radius: 10px;
        background-color: #ea961c;
        border: 0;

        .tooltipster-content {
            padding: 13px 14px;

            a {
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }

                &:active {}

                &:focus {}
            }
        }
    }

    .tooltipster-arrow {
        .tooltipster-arrow-background {
            border-top-color: #ea961c;
        }

        .tooltipster-arrow-border {
            border-top-color: #ea961c;
        }
    }
}



.news-homepage .top,
.parthners-homepage .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        color: #ffffff;
        font-size: 40px;
        font-weight: 400;
        line-height: 62px;
    }

    .all {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }

        padding-right: 19px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 7px;
            height: 10px;
            background: url('../img/arr-right-hover.svg');
            right: 1px;
            top: 3px;
        }

    }
}


.news-homepage {
    margin-top: -200px;


    .slick-container {
        margin-top: 14px;

        .slick-wrapper {
            overflow-x: hidden;
            overflow-y: visible;
            position: relative;

            .slick-list {
                overflow: visible;
                padding-top: 10px;
            }

            .slick-slide {
                margin-top: 10px;
                position: relative;
                overflow: hidden;
                border-radius: 15px;
                margin: 0 15px;
                transition-duration: .5s;

                &:hover {
                    margin-top: -10px;
                    box-shadow: 0 30px 20px rgba(9, 32, 61, 0.15);

                }

            }

            .pic {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .big-slide {
                width: 553px - 30px !important;
                height: 370px - (27px * 2);
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                padding: 27px 0 27px 30px;

                .pic {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: -1;
                    &::after{
                        content: '';
                        display: block;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: url('../img/bg-news.png');
                        background-repeat: no-repeat;
                        background-position: center bottom;
                        background-size: 100% 282px;
                    }
                }

                .type {
                    border-radius: 2px;
                    background-color: #ea961c;
                    display: block;
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    padding: 0 6px;
                    display: inline-block;
                }

                .title {
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    margin-top: 9px;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }

                .date {
                    color: #cccccc;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-left: 7px;
                    margin-top: 12px;
                }
            }

            .small-slide {
                width: 263px !important;
                height: 370px;
                border-radius: 15px;
                background-color: #455bd7;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .pic {
                    height: 176px;
                    width: 100%;
                    margin-bottom: 29px;
                }


                .type {
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 14px;
                    padding: 0 21px;
                    margin-bottom: 17px;
                }

                .title {
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    padding: 0 21px;
                    margin-bottom: 9px;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }

                .date {
                    flex-grow: 1;
                    display: flex;
                    align-items: flex-end;
                    color: #b2b9ec;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 14px;
                    padding: 0 21px;
                    padding-bottom: 32px;
                }

            }
        }

    }

    .slick-dots {
        margin: 53px -8px 0;
        display: flex;
        justify-content: center;
        list-style: none;

        margin-top: 53px;

        li {
            button {
                display: none;
            }

            display: block;
            margin: 0 8px;
            width: 14px;
            height: 14px;
            background-color: #ffffff;
            opacity: 0.15;
            border-radius: 50%;

            &:hover,
            &.slick-active {
                background-color: #ea961c;
                opacity: 1;

            }
        }
    }


}


.parthners-homepage {
    padding-top: 114px;

    .top {
        .title {}

        .all {
            &:hover {}

            &:active {}

            &:focus {}
        }
    }

    .parthners-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        max-height: 120px;
        overflow: hidden;
        padding: 21px 5px 0 11px;
        margin: 0 -30px;

        .parthner {
            margin: 0 30px 60px;

            img {}
        }
    }
}
