

a {
	text-decoration: none;
}

html,
body {
	min-height: 100%;
}

body {
	color: #333333;
	font-family: $font1;
	font-size: 16px;
	margin: 0;
	background: #ffffff;
	display: flex;
	flex-direction: column;
}

main{
	flex-grow: 1;
}

.container {
	width: 1140px;
    max-width: calc(100% - 60px);
    margin: 0 auto;
}

#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}

a {
	color: #455bd7;
}

.btn{
	&:hover{
		opacity: .8;
	}

}
