.partner-page{
  .partners-grid{
    @include flex-row(30px, 30px);
    margin-top: 20px;
    margin-bottom: 110px;
    @include media((
            margin-bottom: (md: 70px)
    ));
    .item{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 166px;
      border-radius: 15px;
      background-color: $lightGray;
      @include flex-block(204px, 30px, 30px, true, 5);
      transition: box-shadow 0.2s linear;
      img{
        display: block;
        max-width: calc(100% - 40px);
        max-height: calc(100% - 40px);
      }
      &:hover{
        box-shadow: 0 20px 30px rgba(9, 32, 61, 0.15);
      }
    }
  }

  .contact-us-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px 50px 62px;
    background: $lightGray;
    border-radius: 15px;
    margin-top: 30px;
    @include media((
            margin-top: (md: 43px),
            padding: (md: 43px 30px 43px 30px),
            display: (sm: block)
    ));
    .left{
      display: flex;
      align-items: center;
      @include media((
              display: (sm: block)
      ));
      img{
        width: 60px;
        display: block;
        @include media((
                width: (md: 53px, sm: 44px)
        ));
      }
      .text{
        color: $dark;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        margin-left: 45px;
        max-width: 500px;
        @include media((
                font-size: (md: 16px,sm: 14px),
                line-height: (sm: 22px),
                margin-left: (md: 34px, sm: 0),
                max-width: (md: 250px),
                margin-top: (sm: 26px),
                margin-bottom: (sm: 26px),
        ));
      }
    }
    .right{
      .btn-orange{
        @include media((
                padding-left: (sm: 15px),
                padding-right: (sm: 15px),
                width: (sm: 100%)
        ));
      }
    }
  }
}